.grid {
	padding:0;
	margin:0;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	// item box skin
	.grid-item {
		width:calc(100% / 3);
		background-size:cover;
		background-position:50% 50%;
	}
	.grid-item-body {
		// minimal item height based on surface ratio
		// extra content will be displayed bellow
		padding-top:30%;
		position:relative;
		.item-title {
			position:absolute;
			top:4px;
			left:4px;
			background:rgba(#fff,0.8);
			display:inline-block;
			font-size:2em;
			line-height:1em;
			height:1em;
			min-width:.5em;
			padding: .1em .5em .3em .2em;
			border-radius:3px 3px 100% 3px
		}
		.item-extra {
			margin:.5em;
			padding:.5em;
			background:rgba(#000,0.5);
			color:#fff;
		}
	}
}


.grid2 {
	padding:0;
	margin:0;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	// item box skin
	.grid-item {
		width:calc(100% / 3);
		background-size:cover;
		background-position:50% 50%;
	}
	.grid-item-body {
		// minimal item height based on surface ratio
		// extra content will be displayed bellow
		padding-top:30%;
		position:relative;
		.item-title {
			position:absolute;
			top:4px;
			right:4px;
			background:rgba(#fff,0.8);
			display:inline-block;
			font-size:2em;
			line-height:1em;
			height:1em;
			min-width:.5em;
			padding: .1em .2em .3em .5em;
			border-radius:3px 3px 3px 100%;
		}
		.item-extra {
			margin:.5em;
			padding:.5em;
			background:rgba(#000,0.5);
			color:#fff;
		}
	}
}